<span class="tcon-loader--spinner360" aria-label="loading" ng-show="!ready">
  <span class="tcon-visuallyhidden">loading</span>
</span>


<div ng-repeat="(matchday, matches) in matchesPerDay track by $index" ng-if="matches">
  <h2 ng-bind="'Matchday ' + matchday"></h2>

  <table ng-show="ready" class="matches_overview" ng-class="{'matches_overview__with_logo': logo}">
    <tbody>
    <tr ng-repeat="match in matches | orderObjectBy:'datetime'">
      <td ng-bind="match.datetime_formatted" class="matches_overview__datetime"></td>
      <td ng-show="logo" class="matches_overview__logo"><img ng-src="{{base_url}}{{match.logo_home}}" class="image__club_logo"/></td>
      <td ng-bind="match.home_name" class="matches_overview__name"></td>
      <td ng-bind="match.score_home" class="matches_overview__score">X</td>
      <td class="matches_overview__divider">-</td>
      <td ng-bind="match.score_away" class="matches_overview__score">X</td>
      <td ng-bind="match.away_name" class="matches_overview__name"></td>
      <td ng-show="logo" class="matches_overview__logo"><img ng-src="{{base_url}}{{match.logo_away}}" class="image__club_logo"/></td>
      <td ng-bind="match.status" class="matches_overview__status"></td>
    </tr>
    </tbody>
  </table>
</div>

